/* html5doctor.com Reset v1.6.1 - http://cssreset.com */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle}

@import './fonts/opensans_light_macroman.css';
@import './fonts/opensans_regular_macroman.css';
@import './fonts/opensans_semibold_macroman.css';
/******* NAV ********/
/********************/

$nav_background: #f2673a;
$nav_font_size: 20px;
$light_text_color: #8c8c8c;
$dark_text_color: #565656;
/***** NAV ******/
$nav_width: 200px;
$nav_padding: 2px;
$nav_border: 2px;
/***** ul ******/
$nav_ul_margin_left: 20px;
$nav_ul_width: $nav_width - (2 * $nav_padding + $nav_ul_margin_left);
$nav_ul_margin_top: 20px;
$nav_ul_padding: 2px;
/***** li ******/
$nav_li_width: $nav_ul_width - 2 * $nav_ul_padding;
$nav_li_height: 30px;
$nav_li_padding: 2px;
  
body {
	font-family: 'open_sansregular';
}

nav {
	display: block;
	position: fixed;
	/*z-index: 5;*/
	height: 100%;
	width: $nav_width;
	padding: $nav_padding;
	border-right: $nav_border solid $light_text_color;
	top: 0;
	background-color: $nav_background;
	color: white;

	ul {
		width: $nav_ul_width;
		padding: $nav_ul_padding;
		margin-top: $nav_ul_margin_top;
		margin-left: $nav_ul_margin_left;

		li {
			width: $nav_li_width;
			height: $nav_li_height;
			padding: $nav_li_padding;
			font-size:$nav_font_size;
		}
	}
}

/******* Form ********/
/*********************/

/***** positioning wrt Nav side bar ******/
$lPosit_left: $nav_width + 2 * ($nav_padding + $nav_border);
$lPosit_padding: 10px;
/***** row ******/
$row_width: 98%;
$row_padding: 2px;
$row_padding_left: 1%;
$row_li_margin: 8px;
$row_font_size: 20px;
/***** checkboxes ******/
$num_of_check_columns: 3;
$check_li_width: $row_width / $num_of_check_columns;
$check_padding_left: $row_padding_left * $num_of_check_columns;
$check_ul_margin_left: $row_li_margin;
$check_font_size: $row_font_size * 7/8;

div#formWrapper {
	position: relative;
	height: 100%;
	width: 100%;
	color: $dark_text_color;	

	div#leftPosition{
		position: absolute;
		left: $lPosit_left;
		right: 0;
		width: auto;
		padding: $lPosit_padding;

		div#welcome {
			width: 100%;
			height: 100px;
			text-align: center;
			color: $nav_background;
			font-size: 50px;
			padding-top: 10px;
		}

		#fieldWrapper ul {
			list-style: none;
			font-size: $row_font_size;
		}

		ul.row {
			width: $row_width;
			height: 100px;
			/*border: 2px solid black;*/
			padding: $row_padding;
			padding-left: $row_padding_left;

			li {
				margin: $row_li_margin;
			}

			input {
				height: 30px;
				width: 100%;
			}

			ul.name {
				display: list-item;
				width: 50%;
				float: left;

				input {
					width: 100%;
				}
			}
		}

		ul#checkWrapper {
			list-style: none;
			width: $row_width;
			height: 150px;
			padding: $row_padding;
			padding-left: $row_padding_left;
			margin-left: $check_ul_margin_left;
			font-size: $check_font_size;

			div#categories {
				height: 40px;
				padding-left: 2px;
			}

			div#positionWrapper {

				width: 750px;

				li {
					width: $check_li_width;
					height: 23px;
					float: left;
					padding: 2px;
					/*padding-top: 3px;*/

					span {
						padding-left: 3px;
						/*margin-bottom: om: -10px;*/
					}

					input {
						margin-top: 0;
						margin-bottom: 6px;
						font-size: $check_font_size;
					}
				}

			}
		}

		ul#formFooter {
			list-style: none;
			width: 100%;
			height: 50px;

		}
	}
}