/* html5doctor.com Reset v1.6.1 - http://cssreset.com */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

/******* NAV ********/
/********************/
/***** NAV ******/
/***** ul ******/
/***** li ******/
nav {
  display: block;
  position: fixed;
  /*z-index: 5;*/
  height: 100%;
  width: 200px;
  padding: 2px;
  border: 1px solid black;
  top: 0; }
  nav ul {
    width: 176px;
    padding: 2px;
    margin-top: 20px;
    margin-left: 20px; }
    nav ul li {
      width: 172px;
      height: 30px;
      padding: 2px;
      font-size: 20px; }

/******* Form ********/
/*********************/
/***** positioning wrt Nav side bar ******/
/***** row ******/
/***** checkboxes ******/
div#formWrapper {
  position: relative;
  height: 100%;
  width: 100%; }
  div#formWrapper div#leftPosition {
    position: absolute;
    left: 206px;
    right: 0;
    width: auto;
    padding: 10px; }
    div#formWrapper div#leftPosition div#welcome {
      width: 100%;
      height: 100px;
      text-align: center;
      color: red;
      font-size: 50px;
      padding-top: 10px; }
    div#formWrapper div#leftPosition #fieldWrapper ul {
      list-style: none;
      font-size: 20px; }
    div#formWrapper div#leftPosition ul.row {
      width: 98%;
      height: 100px;
      /*border: 2px solid black;*/
      padding: 2px;
      padding-left: 1%; }
      div#formWrapper div#leftPosition ul.row li {
        margin: 8px; }
      div#formWrapper div#leftPosition ul.row input {
        height: 30px;
        width: 100%; }
      div#formWrapper div#leftPosition ul.row ul.name {
        display: list-item;
        width: 50%;
        float: left; }
        div#formWrapper div#leftPosition ul.row ul.name input {
          width: 100%; }
    div#formWrapper div#leftPosition ul#checkWrapper {
      list-style: none;
      width: 98%;
      height: 150px;
      padding: 2px;
      padding-left: 1%;
      margin-left: 8px;
      font-size: 17.5px; }
      div#formWrapper div#leftPosition ul#checkWrapper div#categories {
        height: 40px;
        padding-left: 2px; }
      div#formWrapper div#leftPosition ul#checkWrapper div#positionWrapper {
        width: 750px; }
        div#formWrapper div#leftPosition ul#checkWrapper div#positionWrapper li {
          width: 32.66667%;
          height: 23px;
          float: left;
          padding: 2px;
          /*padding-top: 3px;*/ }
          div#formWrapper div#leftPosition ul#checkWrapper div#positionWrapper li span {
            padding-left: 3px;
            /*margin-bottom: om: -10px;*/ }
          div#formWrapper div#leftPosition ul#checkWrapper div#positionWrapper li input {
            margin-top: 0;
            margin-bottom: 6px;
            font-size: 17.5px; }
    div#formWrapper div#leftPosition ul#formFooter {
      list-style: none;
      width: 100%;
      height: 50px; }
